.card {
  width: 18rem;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.summaryWrapper {
  height: 80px;
}

.summary {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.episodeMatch {
  font-size: 0.75rem;
}
